body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#controls {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  background: white;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  z-index: 1;
}

#controls.hidden {
  display: none;
}

.control {
  margin: 5px 0;
}

.control label {
  display: block;
  width: 60px;
  text-align: right;
  float: left;
  padding-right: 10px;
}
